PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=incidencias_user
DB_PASSWORD=Incidencias2025!
DB_NAME=incidencias_db
DB_SYNC=true
JWT_SECRET=super_secret_key
JWT_EXPIRES_IN=1h
FRONTEND_URLS=http://localhost:5173,http://127.0.0.1:5173

